body{
	/*margin:0;
	padding:0;
	background: url(image/background.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	/*background-size: cover; /* version standardisée */
	background-image: url(images/rose2.svg);
	/*background-repeat: no-repeat ; /*pas de répition de l'image*/
 	background-attachment: fixed ;
}
	

.navbar{
	background-color: #FFE4C4;
	/*background-image: url(images/s-l300.jpg);*/
	font-family: 'Indie Flower', cursive;
	padding: 0px;
}

.navbar-brand{
	padding: 0px;
	margin-left: 6px;
}

h1{
	font-family: 'Cedarville Cursive', cursive;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;

}
.caroussel{
	margin-bottom: 90px;
	border: px solid red;
}

.carousselTitle{
	font-family: 'Cedarville Cursive', cursive;
	margin-top: 90px;
	text-align: center;

}

.intro{
	font-family: 'Cedarville Cursive', cursive;
	margin-bottom: 15px;

}

h3{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 30px;
	text-align: center;
	
}

p{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

.suite{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	text-align: left;
	margin-top: 50px;
	border: px solid blue;
}

footer{
	text-align: center;
	background-color: #FFE4C4;
	position: absolute;
	width: 100%;
	margin-top: 80px;
}

.copyright{
	margin: 0px;
}

.card-title{
	font-family: 'Cedarville Cursive', cursive;
	font-size: 30px;

}

.btn{
	font-family: 'Indie Flower', cursive;
	background-color: #FFE4C4;
	color: black;
}

.card{
	/*margin: 5px;*/
	display: flex;
	align-items: center;
	padding: 0px;
	background-image: url(images/rose1.jpg);
}

.introduction-premières{
	text-align: center;
	margin-bottom: 10px;
}

.card-img-top {
	/*width: 60%*/
	height: 190px;
	width: auto !important;
	padding-top: 5px;
	
}

.card-body{
	padding: 10px;
}

.image_dents {
	height: 600px;
	width: 470px;

}

.image_modale{

	display: flex;
	justify-content: space-around;

}

.texte_modale{
	margin-top: 30px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
}

.modal-title{
	font-family: 'Cedarville Cursive', cursive;
}

.titre_grossesse{
	font-family: 'Cedarville Cursive', cursive;
	margin-bottom: 30px;
}

@media (max-width: 991.99px) {
	.card{
		margin-bottom: 13PX;}